*{
    margin: 0;
}
header {
    width: 100%;
    height: 70px;
    background-color: rgb(2, 3, 66);
}
#menu {
  display: none;
  border: 1px solid white;
  background-color: rgb(2, 3, 66);
  width: 300px;
}
a {
    color: white;
    font-size: 25px;
}